[submodule "dependency/googleapis"]
	path = dependency/googleapis
	url = https://github.com/googleapis/googleapis.git
[submodule "web/packages/shared-ui"]
	path = web/packages/shared-ui
	url = https://github.com/plgd-dev/shared-ui.git
