@import '@/common/styles/colors.scss';

.form-switch {
  display: flex;
  align-items: center;
  padding: 0;

  .form-check-input {
    margin: 0 10px 0 0;
    height: 16px;
    width: 28px;
    float: none;
    border-color: $secondary_40;
    cursor: pointer;

    &:focus{
      box-shadow: 0 0 0 0.25rem rgba($primary_100, 0.3);
      border-color: 0 0 0 0.25rem rgba($primary_100, 0.3);
    }

    &:checked {
      background-color: $primary_100;
      border-color: $primary_100;
    }
  }
}