.initialized-by-another {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;

  .info-box {
    text-align: center;

    .icon {
      font-size: 50px;
    }

    h1 {
      font-size: 2.0rem;
      margin: 20px 0 10px 0;
    }

    .description {
      font-size: 1.25rem;
    }

    .button-wrapper{
      margin-top: 20px;
    }
  }
}