@import '~bootstrap/scss/bootstrap';
@import '@/assets/fonts/fontawesome/css/all.min.css';
@import 'react-toastify/dist/ReactToastify.css';

@import '@shared-ui/common/styles/colors.scss';
@import '@shared-ui/common/styles/default.scss';
@import '@shared-ui/common/styles/animations.scss';
@import '@shared-ui/common/styles/form.scss';
@import '@shared-ui/components/Atomic/PageLoader/PageLoader.scss';
@import '@shared-ui/components/Atomic/Table/Table.scss';
@import '@shared-ui/components/Atomic/Table/Pagination.scss';
@import '@shared-ui/components/Atomic/Button/Button.scss';
@import '@shared-ui/components/Atomic/Editor/Editor.scss';
@import '@shared-ui/components/Atomic/Toast/Toast.scss';
@import '@shared-ui/components/Atomic/Checkbox/Checkbox.scss';
@import '@shared-ui/components/Atomic/TreeExpander/TreeExpander.scss';
@import '@shared-ui/components/Atomic/CopyBox/CopyBox.scss';
@import '@shared-ui/components/Atomic/SplitButton/SplitButton.scss';

html {
  height: 100%;
}

body {
  min-height: 100%;
}

#root {
  height: 100%;
  min-height: 100vh;
  //display: flex;
  //flex-direction: column;

  & > div:first-child{
    min-height: 100vh;
  }
}

#app {
  padding: 0;
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  position: relative;
  overflow: hidden;
}


// Collapsed menu state
#app.collapsed {
  #content {
    //margin-left: $left_panel_collapsed;
  }
}

.client-error-message,
.page-loading-text {
  text-align: center;
  margin: 10px;
  padding: 10px;
}

.client-error-message {
  background-color: $error_50;
  border: 1px solid $error_100;
  color: $error_100;
}

.iframeAuthModal {
  display: block;
  opacity: 0;
  width: 1px;
  height: 1px;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 0;
}

.iframeAuthModalVisible {
  display: block;
  opacity: 1;
  width: calc(100% - 200px);
  height: calc(100% - 200px);
  position: fixed;
  top: 100px;
  left: 100px;
  z-index: 9999;
}

.iframeAuthModalVisibleShadow {
  box-shadow: 0 0 14px 6px #ccc;
}

.iframeAuthModalOverlay {
  display: block;
  opacity: 1;
  z-index: 9998;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.75);
}

.iframeAuthModalClose {
  opacity: 1;
  position: fixed;
  top: 120px;
  right: 120px;
  width: 150px;
  height: 80px;
  background: #fff;
  z-index: 99991;
  transition: all 0.25s;
  display: flex;
  justify-content: flex-end;
}

.iframeAuthModalClose a {
  flex: 0 0 32px;
  height: 32px;
  width: 32px;
  display: block;
  color: #81868c !important;
}

.iframeAuthModalClose a:hover {
  color: #2261ae !important;
}